.button-container{
    max-width: 350px;
    display: inline-block;
}

button, a.button {
    display: inline-block;
    border: 1px solid black;
    padding: 0 2rem 0;
    margin: 0;
    text-decoration: none;
    background: transparent;
    color: #000;
    font-family: "New Rail Alphabet", arial, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                color 250ms ease-in-out, 
                transform 150ms ease;
                
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover, a.button:hover,
button:focus, a.button:focus {
    background: black;
    color: $yellow;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

button:focus, a.button:focus{
    outline: none;
    border: 1px solid black;
    background: black;
    color:white;
}

.bg-yellow{
    button:hover,
    button:focus {
        background: black;
        color:$yellow;
    transition: background 250ms ease-in-out,  
                color 150ms ease;
    }
}

button:active,  a.button:active {
    background: rgb(20,20,20);
}

.header-add-name-button:hover,  .header-add-name-button:hover {
    background: $yellow;
    color: black;
}


.lg-button, a.lg-button{
    width: 100%;
    height:46px;
    border-radius: 23px;
    line-height:46px;
}

.sm-button, a.sm-button{
    height:36px;
    line-height:36px;
    border-radius: 18px;
    font-size: .875rem;
}

.xs-button, a.xs-button{
    height:28px;
    line-height:28px;
    border-radius: 14px;
    font-size: 12px;
}
