/*  
================================================================
LAYOUT
================================================================  
*/


.header{
    padding-top: 20px;
}

.main{
    padding: 60px 0 60px;
}

.page-section{
    padding: $flexboxgrid-outer-margin 0 $flexboxgrid-outer-margin;
}

.border-top{
    border-top: 1px solid black;
}



/*  
================================================================
COLOURS
================================================================  
*/

.bg-yellow{
    background-color: $yellow;
}



/*  
================================================================
FOOTER
================================================================  
*/

.site-footer{
    padding: $flexboxgrid-outer-margin 0 $flexboxgrid-outer-margin;
}

.footer-content{
    padding: .75rem 0 3rem;
}

.site-footer li{
    padding: .75rem 0 .5rem;
    border-bottom: 1px solid black;
}
.site-footer li:first-child{
    padding-top: 0;
}

/*  
================================================================
HOME PAGE
================================================================  
*/

.introduction-text{
    font-size: 1.125rem;
    padding-bottom: 1rem;
}





/*  
================================================================
BOARDS
================================================================  
*/

.board-section{
    background: $lightBlack;
}

.board-header{
    padding: 2rem 0 50px;
}

.board-title{
    text-transform: uppercase;
    color: $yellow;
    font-size: 1.75rem;
    font-weight: bold;
}

.names-list{
    list-style: none;
    margin:0;
    padding:0 0 20px;
    text-indent: 0;
}

.names-list-item{
    border-top:1px solid white;
    padding: 20px 0 20px;
    font-family: 'Dot Mono', monospace;
    color: white;
    font-size: 1.25rem;
    line-height: 1.5;
}

.names-list-item .date, .names-list-item .name{
    width:100%;
    margin-bottom: 1rem;
    background: black;
    display: block;
    padding: 8px 5px 5px 8px;
    word-break: break-all;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

	box-shadow: 

		0 .06em 0 rgba(150, 150, 150, .1); 
}

.names-list-item .name{
    margin-bottom: 0;
}

.board-buttons .button-container:first-child{
    margin-bottom: 1em;
}


.board{
    .date, .name{
        letter-spacing: 0px;
        span{
            opacity: 0;
            width:1em;
            display: inline-block;
            margin: 0;
            padding: 0;
            animation:flip .01s linear;
            animation-fill-mode: forwards;
           
        }
        @for $i from 0 through 224{
          .letter-#{$i + 1}{
            animation-delay:1s + $i/12;
          }
        }
    }
}

/*  
================================================================
BOARDS LETTER ANIMATIONS
================================================================  
*/

@keyframes flip{
    from{opacity:0;}
    to{opacity:1;}
}



/*  
================================================================
FORM OVERLAY
================================================================  
*/

.form-container{
    max-width: 550px;
}

.form--open{
    .form-overlay{
        right:0;
        transition: right 300ms 50ms ease-in-out;
    }
}

.form-overlay{
    position: fixed;
    overflow-y: scroll;
    top:0;
    right:-100vw;
    width:100vw;
    height:100vh;
    transition: right 300ms 50ms ease-in-out;
    background:white;
    z-index:40;
}


